---
component: AUI Select2
analytics:
  pageCategory: component
  component: select2
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-select2
  amd: false
  experimentalSince: 5.3
  generalSince: 5.8
---

<h2>Summary</h2>

<p><a href="http://ivaynberg.github.io/select2/" target="_blank">Select2</a> is a third party replacement for select
    boxes. It supports searching, remote data sets, and infinite scrolling of results. AUI provides a visual wrapper
    around Select2 to style it according to the <a href="https://developer.atlassian.com/design/latest/">Atlassian
        Design Guidelines (ADG)</a>.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<aui-docs-example live-demo id="simple-example">
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <select id="select2-example" multiple="">
                <option value="CONF">Confluence</option>
                <option value="JIRA">JIRA</option>
                <option value="BAM">Bamboo</option>
                <option value="JAG">JIRA Agile</option>
                <option value="CAP">JIRA Capture</option>
                <option value="AUI">AUI</option>
            </select>
        </form>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$("#select2-example").auiSelect2();
    </noscript>
</aui-docs-example>




<p> These docs only show the method to call the ADG-styled Select2. The options passed into the function are the
    same as the original Select2. You can see the full docs <a href="http://ivaynberg.github.io/select2/">here</a>.
</p>
