---
component: Dropdown upgrade guide
analytics:
  pageCategory: upgrade
  component: dropdown
---

<p>This page is a guide to upgrading from the Dropdown 1 API to the <a href="{{rootPath}}docs/dropdown.html">new web component API</a>.</p>

<h2>Inline Dialog</h2>

<h3>Initialisation</h3>

<table class="aui">
    <thead>
    <tr>
        <th>Old API</th>
        <th>New API</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <aui-docs-example>
                <noscript is="aui-docs-code" type="text/html">
                    <ul id="dropDown-standard" class="styled-parent">
                        <li class="aui-dd-parent">
                            <a href="#" class="aui-dd-trigger">An old Dropdown</a>
                            <ul class="aui-dropdown">
                                <li class="dropdown-item"><a href="#" class="item-link">First</a></li>
                                <li class="dropdown-item"><a href="#" class="item-link">Second</a></li>
                                <li class="dropdown-item"><a href="#" class="item-link">Third</a></li>
                            </ul>
                        </li>
                    </ul>
                </noscript>
                <noscript is="aui-docs-code" type="text/js">
                    AJS.$("#dropDown-standard").dropDown("Standard");
                </noscript>
            </aui-docs-example>
        </td>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <button class="aui-button aui-dropdown2-trigger" aria-controls="new-dropdown">
                        Dropdown menu
                    </button>

                    <aui-dropdown-menu id="new-dropdown">
                        <aui-item-link href="#">First</aui-item-link>
                        <aui-item-link href="#">Second</aui-item-link>
                        <aui-item-link href="#">Third</aui-item-link>
                    </aui-dropdown-menu>
                </noscript>
            </aui-docs-example>
        </td>
    </tr>
    </tbody>
</table>

<h3>Conversion Guide</h3>

<p>More examples coming soon.</p>
